<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaea.mapper.AppMapper">
    <resultMap id="BaseResultMap" type="com.gaea.entity.App">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="app_url" jdbcType="VARCHAR" property="appUrl"/>
        <result column="app_key" jdbcType="VARCHAR" property="appKey"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="owner_id" jdbcType="VARCHAR" property="ownerId"/>
        <result column="creator_id" jdbcType="BIGINT" property="creatorId"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <resultMap id="AppDto" type="com.gaea.dto.AppDto" extends="BaseResultMap">
        <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    </resultMap>
    <sql id="Base_Column_List">
    id, name, app_url, app_key, description, owner_id, creator_id, password, status, create_time,
    modify_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from app
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from app
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.gaea.entity.App">
    insert into app (id, name, app_url, 
      app_key, description, owner_id,
      creator_id, password, status, 
      create_time, modify_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{appUrl,jdbcType=VARCHAR}, 
      #{appKey,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{ownerId,jdbcType=VARCHAR},
      #{creatorId,jdbcType=BIGINT}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.gaea.entity.App">
        insert into app
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="appUrl != null">
                app_url,
            </if>
            <if test="appKey != null">
                app_key,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="ownerId != null">
                owner_id,
            </if>
            <if test="creatorId != null">
                creator_id,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="appUrl != null">
                #{appUrl,jdbcType=VARCHAR},
            </if>
            <if test="appKey != null">
                #{appKey,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="ownerId != null">
                #{ownerId,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                #{creatorId,jdbcType=BIGINT},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gaea.entity.App">
        update app
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="appUrl != null">
                app_url = #{appUrl,jdbcType=VARCHAR},
            </if>
            <if test="appKey != null">
                app_key = #{appKey,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="ownerId != null">
                owner_id = #{ownerId,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId,jdbcType=BIGINT},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gaea.entity.App">
    update app
    set name = #{name,jdbcType=VARCHAR},
      app_url = #{appUrl,jdbcType=VARCHAR},
      app_key = #{appKey,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=BIGINT},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="listByPage" resultMap="AppDto">
        <include refid="Page.header"/>
        select a.id, a.name, a.app_key, a.app_url,
          u.name as owner_name, a.status, a.description
        from app a
          left join user u on a.owner_id = u.id
        where 1=1
        <if test="name != null and name != ''">
            and a.name like concat('%', #{name}, '%')
        </if>
        order by a.id desc
        <include refid="Page.footer"/>
    </select>

    <select id="countByPage" resultType="int">
        select count(1)
        from app a
        where 1=1
        <if test="name != null and name != ''">
            and a.name like concat('%', #{name}, '%')
        </if>
    </select>

    <select id="queryByName" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from app
        where name = #{name,jdbcType=VARCHAR}
    </select>

    <select id="listApp" resultMap="BaseResultMap">
        select a.id, a.name
        from app a
        where 1=1
        <if test="status != null and status !=''">
            and a.status = #{status}
        </if>
        order by a.id asc
    </select>

</mapper>
