<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaea.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.gaea.entity.User">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="staff_id" jdbcType="BIGINT" property="staffId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="position" jdbcType="VARCHAR" property="position"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <resultMap id="DtoResultMap" extends="BaseResultMap" type="com.gaea.dto.UserDto">

    </resultMap>

    <resultMap id="UserInfoDto" extends="BaseResultMap" type="com.gaea.dto.UserInfoDto">

    </resultMap>

    <sql id="Base_Column_List">
        id, staff_id, name, password, account, phone, status, position, create_time, modify_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from user
        where id = #{id,jdbcType=BIGINT}
      </delete>
    <insert id="insert" parameterType="com.gaea.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user (id, staff_id, name,
          password, account, phone,
          status, position, create_time,
          modify_time)
        values (#{id,jdbcType=BIGINT}, #{staffId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
          #{password,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
          #{status,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, now(),
          now())
    </insert>

    <insert id="insertSelective" parameterType="com.gaea.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="staffId != null">
                staff_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="position != null">
                position,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="staffId != null">
                #{staffId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                #{position,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.gaea.entity.User">
        update user
        <set>
            <if test="staffId != null">
                staff_id = #{staffId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="account != null">
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                position = #{position,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
                modify_time = now(),
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gaea.entity.User">
        update user
        set staff_id = #{staffId,jdbcType=BIGINT},
          name = #{name,jdbcType=VARCHAR},
          password = #{password,jdbcType=VARCHAR},
          account = #{account,jdbcType=VARCHAR},
          phone = #{phone,jdbcType=VARCHAR},
          status = #{status,jdbcType=VARCHAR},
          position = #{position,jdbcType=VARCHAR},
          create_time = #{createTime,jdbcType=TIMESTAMP},
          modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="listByPage" resultMap="UserInfoDto">
        <include refid="Page.header"/>
        select
        <include refid="Base_Column_List"/>
        from user u
        where 1=1
        <if test="name != null and name != ''">
            and u.name like concat('%', #{name}, '%')
        </if>
        <if test="staffId != null">
            and u.staff_id = #{staffId}
        </if>
        order by u.id desc
        <include refid="Page.footer"/>
    </select>

    <select id="countByPage" resultType="int">
        select count(1)
        from user u
        where 1=1
        <if test="name != null and name != ''">
            and u.name like concat('%', #{name}, '%')
        </if>
        <if test="staffId != null">
            and u.staff_id = #{staffId}
        </if>
    </select>

    <select id="listUser" resultMap="BaseResultMap">
        select u.id, u.staff_id, u.name
        from user u
        where 1=1
        <if test="status != null and status !=''">
            and u.status = #{status}
        </if>
        order by name
    </select>

    <select id="queryByStaffId" parameterType="long" resultMap="DtoResultMap">
        select u.id,
            u.staff_id,
            u.name,
            u.password,
            u.account,
            u.phone,
            u.status,
            u.position,
            u.create_time,
            u.modify_time
        from user u
        where u.staff_id=#{staffId,jdbcType=BIGINT}
    </select>

    <select id="queryById" parameterType="long" resultMap="DtoResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=BIGINT}
    </select>



</mapper>
