<script src="/assets/plugin/jquery-validation/jquery.validate.min.js"></script>
<script src="/assets/plugin/jquery-validation/validate-custom.js"></script>

<div class="content" id="content">
    <div class="ui masthead">
        <div class="ui container">
            <h1 class="ui header" id="contentHeader"></h1>
        </div>
    </div>
    <div class="main ui container">
        <div class="ui form">
            <form id="userForm">
                <input type="hidden" name="id" value="$!user.id" />
                <div class="two fields">
                    <div class="field required">
                        <label>工号</label>
                        <input type="text" placeholder="员工工号" name="staffId" value="$!user.staffId" />
                    </div>
                    <div class="field required">
                        <label>状态</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="status" value="$userStatus[0].code" />
                            <i class="dropdown icon"></i>
                            <div class="default text"></div>
                            <div class="menu">
                                #foreach( $status in $userStatus)
                                    <div class="item" data-value="$status.code">$status.name</div>
                                #end
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field required">
                        <label>姓名</label>
                        <input type="text" placeholder="员工姓名" name="name" value="$!user.name" />
                    </div>
                    <div class="field">
                        <label>职位</label>
                        <input type="text" placeholder="员工职位" name="position" value="$!user.position" />
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>账号</label>
                        <input type="text" placeholder="员工账号" name="account" value="$!user.account" />
                    </div>
                    <div class="field">
                        <label>手机号</label>
                        <input type="text" placeholder="手机号" name="phone" value="$!user.phone" />
                    </div>
                </div>
                <div class="ui blue submit button" id="saveBtn">保存</div>
                <div class="ui button" id="backBtn">返回</div>
            </form>
        </div>
    </div>
</div>
<script>

    var id = '$!user.id';
    var title = id ? '用户编辑' : '添加用户';
    $('#contentHeader').text(title);
    document.title = title;
    !id || $('[name="status"]').val('$!user.status');
    !id || $('[name="status"]').prop('disabled', true);

    $('.ui.dropdown').dropdown();

    var userValidate = $('#userForm').validate({
        rules: {
            staffId: {
                required: true,
                max: 99999999,
                checkStaffIdUnique: id
            },
            name: {
                required: true,
                maxlength: 20
            },
            position: {
                maxlength: 20
            },
            account: {
                maxlength: 50
            },
            phone: {
                isMobile: true
            }
        },
        messages: {
            staffId: {
                required: "工号不能为空！",
                max: "工号不能超过8位数字！"
            },
            name: {
                required: "姓名不能为空！",
                maxlength: "姓名长度不能超过20！"
            },
            position: {
                maxlength: "职位长度不能超过20！"
            },
            account: {
                maxlength: "账号长度不能超过50！"
            }
        }
    });

    $('#saveBtn').on('click', function() {
        var saveBtn = $(this);
        if (!userValidate.form($('#userForm')) || saveBtn.hasClass('loading')) {
            return;
        }
        saveBtn.addClass('loading');
        var param = [];
        $.each($(':input'), function() {
            var input = $(this);
            input.val($.trim(input.val()));
            param.push({'name': input.attr('name'), 'value': input.val()});
        });
        $.ajax({
            url: id ? '/user/update.json' : '/user/insert.json',
            data: param,
            dataType: 'json',
            success: function(res) {
                if (res.status == 200) {
                    toastr.success('保存成功！');
                    if (!id) {
                        $('#userForm')[0].reset();
                        $('.ui.dropdown').dropdown('restore defaults');
                    }
                } else {
                    toastr.error('保存失败！');
                }
            },
            complete: function() {
                saveBtn.removeClass('loading');
            }
        });
    });

    $('#backBtn').on('click', function() {
        location.href = '/user/list.htm';
    })

</script>
