<script src="/assets/plugin/jquery-validation/jquery.validate.min.js"></script>
<script src="/assets/plugin/jquery-validation/validate-custom.js"></script>

<div class="content" id="content">
    <div class="ui masthead">
        <div class="ui container">
            <h1 class="ui header" id="contentHeader"></h1>
        </div>
    </div>
    <div class="main ui container">
        <div class="ui form">
            <form id="permissionForm">
                <input type="hidden" name="id" value="$!permission.id" class="ignore" />
                <div class="two fields">

                    <div class="field required">
                        <label>所属应用</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="appId" />
                            <i class="dropdown icon"></i>
                            <div class="default text">请选择应用</div>
                            <div class="menu">
                                #foreach( $app in $apps)
                                    <div class="item" data-value="$app.id">$app.name</div>
                                #end
                            </div>
                        </div>
                    </div>
                    <div class="field required">
                        <label>状态</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="status" value="$permissionStatus[0].code" />
                            <i class="dropdown icon"></i>
                            <div class="default text"></div>
                            <div class="menu">
                                #foreach( $status in $permissionStatus)
                                    <div class="item" data-value="$status.code">$status.name</div>
                                #end
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field required">
                        <label>权限名称</label>
                        <input type="text" placeholder="权限名称" name="name" value="$!permission.name" />
                    </div>
                    <div class="field">
                        <label>权限URL</label>
                        <input type="text" placeholder="权限URL" name="urlPattern" value="$!permission.urlPattern" />
                    </div>
                </div>
                <div class="field">
                    <label>权限描述</label>
                    <input type="text" placeholder="权限描述" name="description" value="$!permission.description" />
                </div>
                <div class="ui blue submit button" id="saveBtn">保存</div>
                <div class="ui button" id="backBtn">返回</div>
            </form>
        </div>
    </div>
</div>
<script>
    var id = '$!permission.id';
    var title = id ? '权限编辑' : '权限添加';
    $('#contentHeader').text(title);
    document.title = title;
    !id || $('[name="status"]').val('$!permission.status');
    !id || $('[name="appId"]').val('$!permission.appId');

    $('.ui.dropdown').dropdown({
        onChange: function(value, text, $selectedItem) {
            permissionValidate.element($(this).find(':input'));
        }
    });

    var permissionValidate = $('#permissionForm').validate({
        ignore: '.ignore',
        rules: {
            appId: {
                required: true
            },
            name: {
                required: true,
                maxlength: 50
            },
            urlPattern: {
                maxlength: 100,
            },
            description: {
                maxlength: 100,
            }
        },
        messages: {
            appId: {
                required: "请选择所属应用"
            },
            name: {
                required: "权限名称不能为空！",
                maxlength: "权限名称长度不能超过50！"
            },
            urlPattern: {
                maxlength: "权限URL长度不能超过50！"
            },
            description: {
                maxlength: "权限描述长度不能超过50！"
            }

        }
    });

    $('#saveBtn').on('click', function() {
        var saveBtn = $(this);
        if (!permissionValidate.form($('#permissionForm')) || saveBtn.hasClass('loading')) {
            return;
        }
        saveBtn.addClass('loading');
        var param = [];
        $.each($(':input'), function() {
            var input = $(this);
            input.val($.trim(input.val()));
            param.push({'name': input.attr('name'), 'value': input.val()});
        });
        $.ajax({
            url: id ? '/permission/update.json' : '/permission/insert.json',
            data: param,
            dataType: 'json',
            success: function(res) {
                if (res.status == 200) {
                    toastr.success('保存成功！');
                    if (!id) {
                        $('#permissionForm')[0].reset();
                        $('.ui.dropdown').dropdown('restore defaults');
                    }
                } else {
                    toastr.error('保存失败！');
                }
            },
            complete: function() {
                saveBtn.removeClass('loading');
            }
        });
    });

    $('#backBtn').on('click', function() {
        location.href = '/permission/list.htm';
    })

</script>
