<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <context:property-placeholder location="classpath*:conf/jdbc.properties" ignore-unresolvable="true"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="filters" value="stat"/>
        <property name="maxActive" value="20"/>
        <property name="initialSize" value="1"/>
        <property name="maxWait" value="60000"/>
        <property name="minIdle" value="1"/>
        <property name="timeBetweenEvictionRunsMillis" value="3000"/>
        <property name="minEvictableIdleTimeMillis" value="300000"/>
        <property name="validationQuery" value="${jdbc.validationQuery}"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="poolPreparedStatements" value="true"/>
        <property name="maxPoolPreparedStatementPerConnectionSize" value="20"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.gaea.mapper"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="typeAliasesPackage" value="com.gaea.entity"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>


    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true" propagation="REQUIRED" timeout="5"/>
            <tx:method name="find*" read-only="true" propagation="REQUIRED" timeout="5"/>
            <tx:method name="query*" read-only="true" propagation="REQUIRED" timeout="5"/>
            <tx:method name="select*" read-only="true" propagation="REQUIRED" timeout="5"/>
            <tx:method name="list*" read-only="true" propagation="REQUIRED" timeout="5"/>
            <tx:method name="insert*" read-only="false" propagation="REQUIRED" timeout="5"/>
            <tx:method name="save*" read-only="false" propagation="REQUIRED" timeout="5"/>
            <tx:method name="update*" read-only="false" propagation="REQUIRED" timeout="5"/>
            <tx:method name="modify*" read-only="false" propagation="REQUIRED" timeout="5"/>
            <tx:method name="*" rollback-for="Exception" timeout="5"/>
        </tx:attributes>
    </tx:advice>


    <!--expression="execution(* com.gaea..*ServiceImpl.*(..)))))"
    其中第一个*代表返回值，第二*代表以ServiceImpl 结尾的类，第三个*代表方法名，“（..）”代表方法参数-->
    <aop:config>
        <aop:pointcut id="allServiceMethod" expression="(execution(* com.gaea..*ServiceImpl.*(..)))))"/>
        <aop:advisor pointcut-ref="allServiceMethod" advice-ref="txAdvice"/>
    </aop:config>


</beans>
