#*
<meta charset="UTF-8">
<meta content="initial-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport"/>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">

<script type="text/javascript" src="/assets/common/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/assets/common/js/common.js"></script>
<script type="text/javascript" src="/assets/header/header.js"></script>*#
